/* ==================================================================
   Reset
   ================================================================== */

:global {
  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }

  em {
    font-style: normal;
    text-decoration: underline;
  }

  /* Remove autofill background in inputs
  -------------------------------------------------- */
  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
  }
}
